/* Style untuk container form */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Style untuk form */
.form {
    max-width: 800px; /* Sesuaikan dengan lebar maksimum form yang Anda inginkan */
    margin: 10px;
    padding: 20px;
    border: 2px solid #007BFF; /* Warna dan ketebalan border disesuaikan dengan preferensi Anda */
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Style untuk judul form */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Style untuk label */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Style untuk input text, email, dan password */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style untuk input radio (jenis kelamin) */
input[type="radio"] {
    margin-right: 5px;
}

/* Style untuk tombol radio (jenis kelamin) */
.radio-label {
    font-weight: normal;
    margin-left: 5px;
}

/* Style untuk tombol unggah foto */
.file-input {
    margin-bottom: 15px;
}

/* Style untuk tombol */
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Style untuk pesan kesalahan */
.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}
